.wrapper {
  margin-left: 70px;
  color: var(--main-bg-color);
  align-items: center;

  &__title {
    margin-bottom: 20px;

    color: var(--main-bg-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }
}

.join {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-bg-color);
}

.join__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--main-bg-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition);
  outline: none;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.join__icon {
  display: flex;
  fill: currentColor;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}
