.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: transform var(--transition);
  width: 100vw;
  height: 100vh;
  padding: 48px 15px;
  background-color: var(--main-bg-color);
  overflow-y: scroll;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile__list {
  text-align: left;
  margin-bottom: 200px;
}

.mobile__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
}

.mobile__link--current {
  color: var(--accent-color);
}

.mob__links {
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
  margin-bottom: 50px;
}

.mob__item {
  &:last-child {
    margin-bottom: 32px;
  }
}

.mob__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764;
  letter-spacing: 0.02em;

  &--blue {
    color: var(--accent-color);
  }
}

.mob__link--grey {
  color: var(--main-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666;
  letter-spacing: 0.02em;
}

.mobile__social {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.mobile__media {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
  padding-right: 10px;
}

.menu-toggle:focus,
.menu-toggle:hover {
  fill: var(--accent-color);
}

.menu-toggle:focus,
.menu-toggle:hover + .mobile__list .mobile__link--current {
  color: var(--black-color);
}

.menu-toggle {
  border: none;
  background-color: transparent;
  outline: none;

  @media screen and(min-width: 768px) {
    display: none;
  }
}

.mobile-menu .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}
